<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>

    <link href="~/Easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Easyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Easyui/jquery.easyui.min.js"></script>
    <script src="~/Easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/dateTime.js"></script>
    <script type="text/javascript" language="javascript">
        $(function () {

            $('#grid').datagrid({
                title: '其它费用统计',
                iconCls: 'icon-save',
                nowrap: false,
                striped: true,
                url: '/BusinessCost/LoadAllByPage/',
                queryParams: { contractName: '@ViewBag.ContractName' },
                sortName: 'Id',
                sortOrder: 'desc',
                remoteSort: true,
                fitColumns: true,
                fit: true,
                idField: 'Id',
                frozenColumns: [[
                    { field: 'Id', checkbox: true }
                ]],

                columns: [[
                    { field: 'ContractNum', title: '合同编号', width: 100, align: 'left' },
                    { field: 'ContractName', title: '合同名称', width: 100, align: 'left' },
                    { field: 'CostName', title: '开支名称', width: 100, align: 'left' },
                    { field: 'CostAmount', title: '开支金额', width: 80, align: 'right' },
                    { field: 'Subtotal', title: '小计', width: 80, align: 'right' },
                    { field: 'Memo', title: '备注', width: 200, align: 'left' },


                ]],
                pagination: true,
                pageSize: 20,
                rownumbers: true,
                toolbar: ['-', {
                    id: 'btnReturn',
                    text: '返回',
                    iconCls: 'icon-more',
                    handler: function () {
                        location.href = "/Contract/GetPurchaseDetail/"+'@ViewBag.Id';
                    }
                }]
            });


        });
    </script>
</head>
<body class="easyui-layout">
    <div region="center" style="padding: 5px;" border="false">
        <table id="grid"></table>
    </div>
</body>
</html>
